
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <% include ../partials/header %>

    <main id="content" class="app-container" role="main">
      <div class="grid-row">
        <div class="column-two-thirds">
          <h1 class="heading-large">Change Password</h1>

          <% if (locals.passwordExpired) { %>
            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-1" tabindex="-1">
              <h2 class="heading-small error-summary-heading u-no-margin-bottom" id="error-summary-heading-1">
                Your current password has expired. In order to proceed further please update your password.
              </h2>
            </div>
          <% } %>

          <form action="<%= locals.constants.routes.CHANGE_PASSWORD %>" method="POST" class="form">
            <% if (errors.list) {%>
              <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-2" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading-2">
                  Some errors were encountered when submitting the form
                </h2>

                <p>Please fix the errors listed below: </p>

                <ul class="error-summary-list">
                  <% errors.list.forEach(function(error) { %>
                    <li><%= error.value %></li>
                  <% }); %>
                </ul>
              </div>
            <% } %>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-group <%= (errors.type === 'invalid-credentials') ? 'form-group-error' : '' %>">
              <label class="form-label" for="current-password">
                <span class="form-label-bold">Current Password</span>
              </label>
              <input class="form-control" id="current-password" type="password" name="currentPassword" required>
            </div>
            <div class="form-group <%= (errors.type === 'password-invalid') ? 'form-group-error' : '' %>">
              <label class="form-label" for="new-password">
                <span class="form-label-bold">New Password</span>
                <span class="form-hint">Password must be between 16 and 100 characters in length</span>
              </label>
              <input class="form-control" id="new-password" type="password" name="newPassword" required minlength="16" maxlength="100">
            </div>
            <div class="form-group <% (errors.type === 'password-invalid') && 'form-group-error' %>">
              <label class="form-label" for="confirm-new-password">
                <span class="form-label-bold">Confirm New Password</span>
                <span class="form-hint">Must match the new password </span>
              </label>
              <input class="form-control" id="confirm-new-password" type="password" name="confirmPassword" required minlength="16" maxlength="100">
            </div>

            <div class="notice form-group">
              <i class="icon icon-important">
                <span class="visually-hidden">Warning</span>
              </i>
              <strong class="bold-small">
                When you change your password you will asked to login again with your new password.
              </strong>
            </div>

            <button class="button" type="submit">Save changes</button>
          </form>
        </div>
      </div>
    </main>

    <% include ../partials/footer %>
</body>
</html>
